/* main container flex box to center*/
.contain{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* main grid container*/
.etch{
    display: grid;
    text-align: center;
    width: 480px;
    height: 480px;
    border: 1px black solid;
}

.black{
    background-color: black;    
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}